*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}


.first-section{
    width: 100%;
    height: 400px;
    background: rgb(20, 90, 201);
    background: url("../../assets/pricing3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

::-webkit-scrollbar {
        display: none;
    }

.first-section ::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
/* background-color: rgba(173, 216, 230, 0.5);  */
background-color: rgba(0, 0, 0, 0.5);
pointer-events: none; /* So the overlay doesn't block interactions */
}
.first-section p{
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

.pricing-card{
    width: 100%;
    height: 500px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-card-container{
    width: 80%;
    height: 100%;
    background: #003382;
    display: flex;
}
.left-text{
    width: 50%;
    height: 100%;
    /* background: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left-text p{
    margin-bottom: 20px;
    color: #ffffff;
}
.first-text{
    font-size: 24px;
    font-weight: 500;
}
.second-text{
    font-size: 16px;
    font-weight: 400;
}
.third-text{
    font-size: 20px;
    font-weight: 400;
}
.right-card{
    width: 50%;
    height: 100%;
    /* background: gold; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
  }
  .features {
    width: 100%;
    height: 130px;
    /* background: green; */
    margin-bottom: 20px;
  }
  .features-icon {
    width: 100%;
    height: max-content;
    /* background: blue; */
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .features-icon p {
    color: #242424;
    font-size: 16px;
    font-weight: 400;
  }
  .plan {
    margin-bottom: 25px;
  }
  .best {
    color: #242424c9;
    font-size: 12px;
    font-weight: 500;
  }
  .free {
    font-size: 30px;
    font-weight: 500;
    color: #242424d3;
  }
  .amount {
    margin-bottom: 25px;
  }
  
  .peruser {
    color: #242424c9;
    font-size: 12px;
    font-weight: 500;
  }
  .price {
    font-size: 30px;
    font-weight: 600;
    color: #242424;
  }
  .features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 25px;
  }
  .card button {
    width: 230px;
    height: 40px;
    background: #003382;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0;
  }

.nameless{
    width: 100%;
    height: 100px;
    background-color: #fff;
}



@media screen and (max-width:884px){
    .pricing-card{
        width: 100%;
        height: 700px;
    }
    .price-card-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-text{
        width: 90%;
        height: 50%;
        /* background: yellow; */
    }
    .left-text p{
        margin-bottom: 10px;
    }
    .first-text{
        font-size: 20px;
        font-weight: 400;
    }
    .second-text{
        font-size: 14px;
        font-weight: 300;
    }
    .third-text{
        font-size: 14px;
        font-weight: 400;
    }
    .right-card{
        width: 100%;
    }
    .card{
        width: 85%;
    }
}
     
@media screen and (max-width:428px){
 
  .first-section{
    height: 155px;
    padding: 20px;
    margin-bottom: 40px;
  }
    .first-section p{
        font-size: 18px;
        font-weight: 600;
    }
    .get-started{
        font-size: 16px;
        padding: 20px;
    }

}



@media screen and (max-width:320px){

 .nameless{
    margin-bottom: 150px;
 }

}